name: Maven CI/CD

on:
 push:
    branches: [ master ]
 pull_request:
    branches: [ master ]

jobs:
  build_and_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 18
      uses: actions/setup-java@v1
      with:
        java-version: 18
        
    - name: Cache the Maven packages to speed up build
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2  

    - name: Build project with Maven
      id: buildProject
      run: mvn -B package --file pom.xml -Dmaven.test.skip=true
      
    - name: Build project with Maven
      id: buildAndTestProject
      run: mvn -B package --file pom.xml
      
    - name: Send Success Email
      if: steps.BuildProject.outcome == 'success' && steps.buildAndTestProject.outcome == 'success'
      uses: dawidd6/action-send-mail@v3
      with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Build and Test job result- Successful!
          to: shipravalecha92@gmail.com
          from: Shipra
          body: Build and test job of ${{github.repository}} completed successfully!
          
    - name: Send Failure Email For tests
      if: steps.BuildProject.outcome == 'success' && steps.buildAndTestProject.outcome != 'success'
      uses: dawidd6/action-send-mail@v3
      with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Build and Test job result- Failure!
          to: shipravalecha92@gmail.com
          from: Shipra
          body: Build succeeded but test job of ${{github.repository}} failed!
          
    - name: Send Failure Email For both build and test
      if: steps.BuildProject.outcome != 'success'
      uses: dawidd6/action-send-mail@v3
      with:
          server_address: smtp.gmail.com
          server_port: 465
          secure: true
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Build and Test job result- Failure!
          to: shipravalecha92@gmail.com
          from: Shipra
          body: Build and unit test cases failed 
          

